/* STYLESHEET for LIST comonent */

.list-spacer {
   
    border-bottom: dotted 0.5px #010203;
    width: 80px;
    height: 10px
   
}

li {
    display: flex;
    align-content: space-between;
    gap: 15px;
    
    letter-spacing: 0.3px;
    padding-top: 5px;
    margin: 0px;
    white-space: nowrap;

    font-size: 1em;

    }

/* CONTAINERS & DIVS */

.ul-container {
    
    width: auto;
    
    min-width: 6em;
    min-height: 15vh;

    /* border: solid rgba(255, 192, 203, 0.278); */

    
    padding: 0px;
    margin: 0px;

}

/* ITEMS */

.unordered-list {

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    flex-wrap: nowrap;

    list-style: none;
    /* border: solid rgba(0, 0, 0, 0.296); */

    padding: 0px;

    margin: 0px;
    
    width: 100%;
    
    min-width: 6em;
    min-height: 15vh;

};



.the-role {
    /* border: solid rgba(0, 128, 0, 0.241); */

    text-align: left;

    font-family: "Proxima Nova" , sans-serif;
    color: #010203;

    font-weight: 200 !important;
    padding-right: 3px;
    
}


.the-person {
    /* border: solid rgba(0, 128, 0, 0.191); */
    
    text-align: right;

    font-family: "Proxima Nova" , sans-serif;
    color: #010203;

    font-weight: 800 !important;
    padding-left: 3px;
}
